/* SKILL BAR ANIMATION FIX */

@keyframes grow {
from {
width: 0;
}
to {
width: 100%;
}
}

.skill-bar{
background:#1e293b;
height:10px;
border-radius:5px;
margin-bottom:20px;
}

.skill-level{
height:10px;
background:#38bdf8;
border-radius:5px;
animation:grow 2s forwards;
}

.python{width:85%;}
.matlab{width:80%;}
.cprog{width:75%;}
.arduino{width:80%;}
.biomedical{width:85%;}
